@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

/*
:root{
    --color-text:#34B0BE;
    --color-dark:#242635;
    --color-primari:#D1CECA;
    --color-textGeneral:#FFFFFF;
    --mobilTitle-size:50px;
    --mobiSsubTitle-size:32px;
    --mobilSubsection-size:18px;
    --desktopTitle-size:80px;
    --desktopsubTitle-size:50px;
}
*/

* {
    padding: 0%;
    margin: 0%;
    outline: 0%;
    box-sizing: border-box;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0e0d0d;
    color: #fff;
    text-align: center;
}

nav{
    background-color: #0e0d0d;
    height: 70px;
    width: 100%;
    
}

nav a{
    left: 20px;
    top: 10px;
}

.enlace{
    position: absolute;
}

.logo{
    height: 60px;
    float: left;
}


nav ul{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    background-color: #0e0d0d;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transition: all 0.5s;
}

nav ul li{
    line-height: 3rem;
    margin: 0 10px;
}

nav ul li a{
    color: #fff;
    font-size: 16px;
    padding: 7px 13px;
    text-transform: uppercase;
    text-decoration: none;
}

li a.active, li a:hover{
    color:rgb(235, 40, 157);
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

#check:checked ~ ul{
    left: 0;
}

.home{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.image-container{
    
}


.titulos{
    margin-top: 1.5rem;
}

.name{
    font-size: 2rem;
}

.titulos .name span{
    color: #eda5e1;
}

.rol{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.s-icons{
    font-size: 20px;
    margin: 0 15px;
    background-color: #eda5e1;
    padding: 10px;
    border-radius: 50%;
    margin-top: 15px;
}
.contenedor-acercademi {
margin-top: 3rem;
display: flex;
flex-direction: column;
}

.titulo-acercademi{
    margin-top: .5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #eda5e1;
}
p{
    margin-top: 2rem;
    font-size: medium;
    font-weight: bold;
}
.contenedor-servicios{
 

}
.titulo-servicios{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: #eda5e1;
}
.contenedor-de-tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    overflow-x: scroll;
    padding: .8rem;

}
.tarjetas-item{
    background-color: #eda5e1;
    background-image: url(/assets/Vectores/Ellipse\ 14.svg);
    background-repeat: no-repeat;
    background-size: 10rem;
    background-position: center top;
    width: 10rem;
    border-radius: 5%;

    

}
.contenedor-tarjetas{
   
    padding: 2rem 1rem 1rem 1rem;
    
}
.icon-tarjeta{
    height: 5rem;
}
.p-servicios{
    color: #060606;
    font-size: 0.7rem;
}

.contenedor-mishabilidades{
margin-top: 2rem;
padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
}
.titulo-habilidades{
    margin-top: .5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #eda5e1;
}

.habilidades-barra{
   
    width: 100%;

}
.barra{
 display: flex;
 justify-content: flex-start;


}
progress{
    width: 100%;
    height: 2.5rem;

}

.titulo-barras{
    color: #cc2ab1;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: start;

}

.mi-portafolio{
    
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.titulo-portafolio{
    color: #eda5e1;
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
}
.miPortafolio {
    margin-top: .5rem;
    font-size: 2rem;
    font-weight: bold;
    
}
.container-img-portafolio {
   
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    overflow-y: scroll;
    width: 100%;



}
.imagen-p{
    margin-top: 1rem;
    width: 20rem;
}
.contenedor-contacto{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tarjetas-de-contacto{
    display: flex;
    flex-direction: column;
}
.titulo-contacto{
    color: #eda5e1;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
}
.contacto-item{
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 20px;
    background-color: #e4d2e1;
    border-radius: 4%;
    color: #060606;
    display: flex;
    justify-content: center;
    background-image: url(/assets/Vectores/Ellipse\ 14.svg);
    background-repeat: no-repeat;
    background-size: 10rem;
    background-position: center top;
}
.contenedor-contac{ 
    margin-top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.icon-contac{
    width: 3rem;
}
.p-contac{
    font-size:.6rem;
}


.fa-solid{
    color: rgb(199, 32, 141);
}
.footer{
    height: 40%;
    padding: 2rem;

}

@media(min-width:400px) {
    .home{
        flex-direction: row;
        justify-content: center;
    }
    .image-container{
        order: 1;

    }
    .contenedor-mishabilidades{
        width: 80%;
        margin: auto;
        
        
    }
    p{
        width: 60%;
        margin: auto;
        padding-top: 2rem;
    }
    .tarjetas-de-contacto{
        flex-direction: row;
        gap: 3rem;
    

    }
}
